.contact{
    background-image: url("../assets/contactpage.png");
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    background-color: #4a424233;
    padding-top: 5rem;
    padding-bottom: 5rem;
    border-radius: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.form input{
    width: 95%;
    height: 3.5vh;
    border-radius: 1rem;
    border: none;
    padding-left: 2rem;
    font-weight: bold;
}
.form button{
    padding: 0.8rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    border: navajowhite;
    font-weight: bold;
    background-color: #cbcbcb78;
    cursor: pointer;
}

@media only screen and (width<=600px) {
    .form{
        width: 90%;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}